@font-face {
  font-family: "LatoThin";
  src: url("../assets/fonts/Lato/Lato-Thin.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoItalic";
  src: url("../assets/fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBoldItalic";
  src: url("../assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
