<div class="container">
  <img src="../assets/logo-endless.svg" class="logo">
</div>
<div class="hero-image">
  <div class="hero-content">
    <p class="hero">New Games & Accessories</p>
    <h1 class="hero">
      Monthly packages.<br/>
      Excitement delivered daily.
    </h1>
    <h6 class="hero">
      What's the best way to shop for the latest video games<br/>
      and peripherals? How about never shopping at all?<br/>
      You'll get new stuff on your doorstep - every month.
    </h6>
    <button class="get-started">GET STARTED</button>
  </div>
</div>
<div class="how-it-works"></div>

<router-outlet></router-outlet>
